<table class="common table-bordered pt20">
  <tbody>
  <tr> 
      <th class='bg'><%= require_span %>计量单位名称：</th> 
      <td> <%= f.text_field :name  %></td> 
    </tr> 
    <tr>
       <th class='bg'>备注：<br />（100字以内）</th>
       <td ><%= f.text_area :remark, cols: 50, rows: 6, class: 'w500 h50' %></td>
    </tr> 
  </tbody>
</table> 

<div class='form-actions mt10'> 
  <%= f.submit '提交', :class=>'btn btn-small btn-primary' %>
  <%= link_to '取消',  mytp_units_path, :class=>'btn btn-small btn-default' %>
</div> 
