<legend>进货单详情</legend>
<table class="common table-bordered ">
  <tbody>
  <tr> 
      <th class='bg'>供应商：</th> 
      <td>
        <%= @buy.supplier.name %>
      </td> 
      <th class='bg'>进货单编号：</th> 
      <td><%= @buy.code %></td>
    </tr> 
    <tr> 
      <th class='bg'>总金额：</th> 
      <td><%= @buy.total_price %>元</td> 
      <th class='bg'>单据类型：</th> 
      <td><%= @buy.category %></td> 
    </tr> 
    <tr>
       <th class='bg'>备注：</th>
       <td colspan="3"><%= @buy.remark %></td>
    </tr> 
  </tbody>
</table> 
<legend class="mb4 font14 mt20">进货商品信息列表</legend>
<table class="common table-bordered ">
  <tbody>
  <tr> 
      <th>序号</th> 
      <th>商品名称</th> 
      <th>型号</th> 
      <th>数量</th> 
      <th>计量单位</th> 
      <th>采购价格</th> 
      <th>采购总价</th> 
      <th>操作</th>
    </tr> 
    <% @buy.buy_products.each_with_index do |buy_product, index|  %>
       <tr>
         <td class="tc"><%= index + 1 %></td>
         <td><%= buy_product.name %></td>
         <td><%= buy_product.model %></td>
         <td class="tr"><%= buy_product.quantity %></td>
         <td class="tc"><%= buy_product.unit %></td>
         <td class="tr"><%= buy_product.price %></td>
         <td class="tr"><%= buy_product.total_price %></td>
         <td>
           <% edit_link = link_to "修改", edit_mytp_buy_buy_product_path(@buy, buy_product, :back => request.fullpath) %>
           <% destroy_link = link_to '删除', mytp_buy_buy_product_path(@buy, buy_product, :back => request.fullpath), :method => 'delete', :confirm => "你确定删除吗?" %>
           <%= operate_buttons([edit_link, destroy_link].compact) %> 
         </td>
       </tr> 
    <% end %>
  </tbody>
</table> 
<div class='form-actions mt10'> 
  <%= link_to "添加商品", new_mytp_buy_buy_product_path(@buy.id), :class => "btn  btn-small btn-primary mr10" %>
  <%= link_to '返回',  mytp_buys_path, :class=>'btn btn-small btn-default' %>
</div> 


